<div class="week">
    <div class="day ">
<h3>Lundi</h3>
        <span>11:30-15:00 <br/> 18:30-21:30</span>
<!-- todo exceptional opening -->
</div>
<div class="day ">
<h3>Mardi</h3>
        <span>11:30-15:00 <br/> 18:30-21:30</span>
<!-- todo exceptional opening -->
</div>
<div class="day ">
<h3>Mercredi</h3>
        <span>11:30-15:00 <br/> 18:30-21:30</span>
<!-- todo exceptional opening -->
</div>
<div class="day rd">
<h3>Jeudi</h3>
        <span>11:30-15:00 <br/> 18:30-21:30</span>
<!-- todo exceptional opening -->
</div>
<div class="day ">
<h3>Vendredi</h3>
        <span>11:30-15:00 <br/> 18:30-23:00</span>
<!-- todo exceptional opening -->
</div>
<div class="day ">
<h3>Samedi</h3>
        <span>11:30-23:00</span>
<!-- todo exceptional opening -->
</div>
            <div class="day ">
<h3>Dimanche</h3>
        <span>Close</span>
<!-- todo exceptional opening -->
</div>
</div>