@import "~src/variable";

.day{
    border-radius: 5px;
    width: 200px;
    text-align:center;
    background-color: $primary-grey;
    height: 250px;
    margin: 20px;
    color: $primary-bluedark;
    padding: 15px;
    
    float: left;
}

.week{
    height: 500px; 
}

.day h3{
    font-size: 25px;
}


